### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [39]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
heroes = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
heroes_data_df = pd.read_csv(heroes)
heroes_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [40]:
#PlayerCount
player_count = len(heroes_data_df["SN"].unique())
player_count

#Dataframe
total_players_df = pd.DataFrame({"Total Players":[player_count]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [41]:
#items
items = len(heroes_data_df["Item ID"].unique())
items

#average price 
average_price = round(heroes_data_df["Price"].mean(),2)
average_price

#number of purchases
purchases = len(heroes_data_df["Item ID"])
purchases

#Total revenue
revenue = round(sum(heroes_data_df["Price"]),2)
revenue

2379.77

In [42]:
#dataframe for the above data
purchase_analysis_df = pd.DataFrame({"Number of Unique Items":[items],"Average Price":[average_price],"Number of Purchases":[purchases],"Total Revenue":[revenue]})
purchase_analysis_df

purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${:.2f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:,.2f}".format)
purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [43]:
#dataframe for unique SNs and gender

new_df =pd.DataFrame(heroes_data_df,columns=["SN", "Gender"])

new_df.drop_duplicates(subset ="SN", 
                     keep = 'first', inplace = True) 

new_df

                SN  Gender
0          Lisim78    Male
1      Lisovynya38    Male
2       Ithergue48    Male
3    Chamassasya86    Male
4        Iskosia90    Male
..             ...     ...
773         Hala31    Male
774     Jiskjask80    Male
775     Aethedru70  Female
777     Yathecal72    Male
778        Sisur91    Male

[576 rows x 2 columns]

In [45]:
male_female_count = new_df["Gender"].value_counts()
male_female_count


# male = new_df.loc[new_df["Gender"] == "Male"]
# count_of_males = male["Gender"].value_counts()
# count_of_males

# female = new_df.loc[new_df["Gender"]== "Female"]
# count_of_females = female["Gender"].value_counts()
# count_of_females

# unknown = new_df.loc[new_df["Gender"]== "Other / Non-Disclosed"]
# count_of_unknown = unknown["Gender"].value_counts()
# count_of_unknown


# percent_male = count_of_males / total_players_df
# percent_male

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame